@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  font-weight: 500;

}
body {
  height: 100vh;
  background-image: url("WhatsappBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
.container {
 background-color: rgba(0,0,0,0.3);
  width: 70%;
  min-width: 400px;
  padding: 35px 20px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1 {
  font-size: 30px;
  text-align: center;
  /*color: #1c093c;*
  color: #25D366;*/
  color: #fff;
  text-shadow: .3px 1.5px 1px black;
  font-family: 'Noto Serif', serif;
}
p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label {
  color: #1c093c;
  color: #000;
  font-size: 18px;
}
textarea,
input {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
.dooption {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.dooption div {
  width: 50%;
}
.dooption input {
  width: auto;
}
#dnum, #pnum, #phnumber {
  width: 83%;
}
#sl , #dn {
  font-weight: 200;
}
#Message {
  display: none;
}
textarea {
  resize: none;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #25D366;
}
.but {
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: #25D366;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  text-shadow: .2px 1.2px .8px black;
}
fa {
  color: #ffffff;
}